:root{
    --main-color: brown;
    --main-color-white: white;
    --main-color-black: black;
    --main-color-gray: gray;
    --main-color-orange: orange;
    --main-color-red: red;
    --main-color-green: green;
    --main-color-blue: blue;
    --main-color-yellow: yellow;
    --main-color-pink: pink;
}