/*banner promo*/

.banner-promo-container {
    background-color: var(--main-color);
    color: var(--main-color-white);
}

.banner-promo {

    /* height: 50px; */
    line-height: 33px;
    font-size: 1.3rem;
}

.banner-promo span {
    border: 1px solid var(--main-color-white);
    padding: 5px;
    cursor: pointer;

    font-size: 1.1rem;


}

/*nav-top*/
.nav-top {
    color: var(--main-color-gray);
    font-weight: 600;
    white-space: nowrap;
}

.nav-top .nav-message {
    text-transform: uppercase;
}

.nav-top ul li a:hover {
    color: var(--main-color);
}

.nav-top-container {
    border-bottom: 1px solid var(--main-color-gray);
}

/*WEBSSITE-DETAILS*/
.website-details .search-icon{
    background-color: #efefef;
    border-left: 1px solid var(--main-color-white);
    border-radius: 0 50px 50px 0;
    cursor: pointer;
    width: 45px;


}

.website-search-bar {
    height: 45px;
}

.website-search-bar input:hover {
    color: var(--main-color);
}
.website-search-bar input {
    background-color: #efefef;
    border-radius: 50px 0 0 50px;
    border: none;
    font-size: 1.2rem;

    border-right: 1px solid var(--main-color-white);
    outline:none;
}
.website-search-bar select {
    background-color: #efefef;
    border:none;
    font-size: 1.2rem;
    border-left: 1px solid var(--main-color-white);
    border-right: 1px solid var(--main-color-white);
    outline-color: var(--main-color);

}

.website-details .website-call-us {
    height: 50px;
}
.website-details .website-call-us .call-message a {
    font-weight: bold;
}
.website-details .website-call-us .call-message h3 {
    margin: 0;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: var(--main-color-gray);
}
.call-icon i, .website-icon i{
    font-size:1.9rem; 
}
.website-logo {
    min-width: 250px;
}
.fa-bars{
    font-size: 1.5rem;
    color: var(--main-color);
    display: none;
}
.website-details{
    border-bottom: 0.1px solid var(--main-color-gray);
}



/*nav-top*/
/*nav-top*/
/*MEDIA*/

@media screen and (max-width: 1200px) {
    .nav-items {
        display: none;
    }
    .website-logo{
        min-width: auto;
    }
}

@media screen and (max-width: 992px) {
    .website-search-bar {
        display: none;
    }
    .website-details{
        justify-content: space-between;
    }
}
@media screen and (max-width: 768px) {
    .nav-message {
        font-size: 0.7rem;
    }
    .website-call-us, .website-icon{
        display: none;
    }
    .fa-bars{
        display: block;
    }
    .website-details{
        padding: 0 5px;
        border: none;
    }
    .nav-top{
        padding: 5px;
    }
    .logo h2 a{
        margin: 5px 0;
    }
    .logo h2 {
        margin:  0;
    }
}

@media screen and (max-width: 576px) {
    .nav-message {
        font-size: 0.5rem;
    }
    .fa-bars{
        display: block;
    }
    .website-details{
        padding: 0 5px;
    }
    .banner-promo-container{
        width: 100%;
    }
    .banner-promo {
        font-size: 0.8rem;
    }
    .nav-social-icon{
        padding: 0 0 0 0;
    }
}

@media screen and (max-width: 427px) {
    .nav-message {
        display: none;
    }
    .fa-bars{
        display: block;
    }
    .website-details{
        padding: 0 5px;
    }
    .banner-promo-container{
        width: 100%;
        text-align: center;
       
    }
    .banner-promo {
        font-size: 0.8rem;
        text-align: center;
    }
    .nav-social-icon{
        padding: 0 30px 0 0;
    }
    .logo h2 a{
        padding: 0 30px 0 0;
    }
    
}