.slider-image{
    background-image: url("/assets/images/slider/slide-1.jpg");
    height: 500px;
    background-position-x:  70% ;
}
.slider-content{
    top: 10%;
    left: 10%;
    min-width: 25%;
    height: 200px;
    padding: 0 20px;
    white-space: nowrap;
}
.slider-icon{
    top: 40%;
    width: 80px;
    height: 80px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color-white);
    border-radius: 50px;
    cursor: pointer;
}
.slider-icon i {
    font-size: 1.2rem;
}
.slider-icon:hover{
    background-color: var(--main-color-black);
}
.slider-icon.prev{
    left: 20px;
}
.slider-icon.next{
    right: 20px;
}
.slider-content h4{
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.08rem;
    opacity: 0.7;
    margin: 0;
    white-space: nowrap;
}
.slider-content h2{
    font-size: 2.32rem;
    margin: 0;
    font-weight: 500;
    letter-spacing: 0.05em;
    white-space: nowrap;
    font-family: 'Segoe Script','Savoye LET',Tahoma, Geneva, Verdana, sans-serif;
}
.slider-content h3{
    font-size: 5.9em;
    white-space: nowrap;
    margin-bottom: 10px;
}
.slider-content .slider-actions span{
    font-weight: bold;
}
.slider-content .slider-actions .price{
    font-weight: bold;
    color: var(--main-color-white);
    background-color: var(--main-color);
    padding: 10px;
    font-size: 1.1rem;
    transform: rotate(-15deg);   

}
.slider-content .slider-actions .btn{
    border-radius: 0;
    color: var(--main-color-white);
    background-color: var(--main-color-black);
    height: 27px;
    line-height: 27px;
    font-size: 1.3rem;
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
   
}

@media screen and (max-width: 992px) {
    .slider-content{
        display: none;
    }
}
@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
  
}

@media screen and (max-width: 427px) {
    
}

